SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# For details see man 4 crontabs

# Example of job definition:
# .---------------- minute (0 - 59)
# |  .------------- hour (0 - 23)
# |  |  .---------- day of month (1 - 31)
# |  |  |  .------- month (1 - 12) OR jan,feb,mar,apr ...
# |  |  |  |  .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
# |  |  |  |  |
# *  *  *  *  * user-name command to be executed

#0 14 * * * root cd /var/node/apps/ournet.geonames-sync/ && node ./lib/app.js

0 0,2,4,5,6,12,16,20,22 * * * root cd /var/node/ournet/exchange-updater/ && COUNTRIES=md,ro,bg,ru npm start

#0 * * * * root cd /var/node/apps/ournet-feeds-reader/ && npm start

0 0,12 * * * root cd /var/node/ournet/horoscope-generator/ && LANGS=ro,ru,en,bg,it,hu,cs npm start

#0 1 * * * root cd /var/node/ournet/horoscope-notifier/ && COUNTRY=ru LANG=ru npm run web-app
0 2 * * * root cd /var/node/ournet/horoscope-notifier/ && COUNTRY=ro LANG=ro npm run web-app &> output.txt

0 1 * * * root cd /var/node/ournet/horoscope-notifier/ && LANG=ru npm run mobile-app
0 3 * * * root cd /var/node/ournet/horoscope-notifier/ && LANG=ro npm run mobile-app &> output.txt
0 3 * * * root cd /var/node/ournet/horoscope-notifier/ && LANG=bg npm run mobile-app
0 3 * * * root cd /var/node/ournet/horoscope-notifier/ && LANG=hu npm run mobile-app
0 3 * * * root cd /var/node/ournet/horoscope-notifier/ && LANG=cs npm run mobile-app
0 3 * * * root cd /var/node/ournet/horoscope-notifier/ && LANG=en npm run mobile-app
0 3 * * * root cd /var/node/ournet/horoscope-notifier/ && LANG=it npm run mobile-app

0 2 * * FRI root cd /var/node/ournet/weather-newsletter/ && npm start
0 8 * * FRI root cd /var/node/ournet/weather-newsletter/ && npm run bounces

0 2 */2 * * root cd /var/node/textactor/actors-generator/ && LOCALE=ro-ro npm run collect &> output-col-ro.txt
0 2 */3 * * root cd /var/node/textactor/actors-generator/ && LOCALE=ro-ro npm run generate &> output-gen-ro.txt
0 3 */2 * * root cd /var/node/textactor/actors-generator/ && LOCALE=ro-md npm run collect &> output-col-md.txt
0 3 */3 * * root cd /var/node/textactor/actors-generator/ && LOCALE=ro-md npm run generate &> output-gen-md.txt
0 4 */2 * * root cd /var/node/textactor/actors-generator/ && LOCALE=ru-md npm run collect &> output-col-md.txt
0 4 */3 * * root cd /var/node/textactor/actors-generator/ && LOCALE=ru-md npm run generate &> output-gen-md.txt
#0 5 */2 * * root cd /var/node/textactor/actors-generator/ && LOCALE=ru-ru npm run collect
0 6 */2 * * root cd /var/node/textactor/actors-generator/ && LOCALE=en-in npm run collect &> output-col-in.txt
0 6 */3 * * root cd /var/node/textactor/actors-generator/ && LOCALE=en-in npm run generate &> output-gen-in.txt
0 7 */2 * * root cd /var/node/textactor/actors-generator/ && LOCALE=it-it npm run collect &> output-col-it.txt
0 7 */3 * * root cd /var/node/textactor/actors-generator/ && LOCALE=it-it npm run generate &> output-gen-it.txt
0 8 */2 * * root cd /var/node/textactor/actors-generator/ && LOCALE=hu-hu npm run collect &> output-col-hu.txt
0 8 */3 * * root cd /var/node/textactor/actors-generator/ && LOCALE=hu-hu npm run generate &> output-gen-hu.txt
0 9 */2 * * root cd /var/node/textactor/actors-generator/ && LOCALE=cs-cz npm run collect &> output-col-cz.txt
0 9 */3 * * root cd /var/node/textactor/actors-generator/ && LOCALE=cs-cz npm run generate &> output-gen-cz.txt
0 10 */2 * * root cd /var/node/textactor/actors-generator/ && LOCALE=es-es npm run collect &> output-col-es.txt
0 10 */3 * * root cd /var/node/textactor/actors-generator/ && LOCALE=es-es npm run generate &> output-gen-es.txt


0 8 * * 0,2,4 root cd /var/node/ournet/weather-notifier/ && sh update-places.sh

0 9 * * * root cd /var/node/ournet/weather-notifier/ && COUNTRY=ro LANG=ro npm start
#0 8 * * * root cd /var/node/ournet/weather-notifier/ && COUNTRY=ru LANG=ru npm start
0 9 * * * root cd /var/node/ournet/weather-notifier/ && COUNTRY=al LANG=sq npm start

*/5 * * * * root cd /var/node/ournet/news-reader && LOCALE=ro-ro npm run start &> output-ro.txt
*/11 * * * * root cd /var/node/ournet/news-reader && LOCALE=ro-md npm run start &> output-md.txt
*/12 * * * * root cd /var/node/ournet/news-reader && LOCALE=ru-md npm run start &> output-md.txt
#*/6 * * * * root cd /var/node/ournet/news-reader && LOCALE=ru-ru npm run start &> output-ru.txt
*/7 * * * * root cd /var/node/ournet/news-reader && LOCALE=bg-bg npm run start &> output-bg.txt
*/8 * * * * root cd /var/node/ournet/news-reader && LOCALE=en-in npm run start
*/6 * * * * root cd /var/node/ournet/news-reader && LOCALE=cs-cz npm run start &> output-cz.txt
*/7 * * * * root cd /var/node/ournet/news-reader && LOCALE=hu-hu npm run start &> output-hu.txt
*/9 * * * * root cd /var/node/ournet/news-reader && LOCALE=it-it npm run start &> output-it.txt
*/10 * * * * root cd /var/node/ournet/news-reader && LOCALE=es-es npm run start &> output-es.txt

45 * * * * root cd /var/node/entipic/name-explorer && npm start &> output.txt
